In [1]:
import pandas as pd

In [2]:
#scrape data
string = "https://www.pro-football-reference.com/years/{}/fantasy.htm"
years = ["2017","2018","2019","2020","2021"]
data_dict = {}
for year in years:
    url = string.format(year)
    data = pd.read_html(url, header = 1)
    data_dict[year] = pd.DataFrame(data[0])
    
data_dict['2021'].dtypes

Rk         object
Player     object
Tm         object
FantPos    object
Age        object
G          object
GS         object
Cmp        object
Att        object
Yds        object
TD         object
Int        object
Att.1      object
Yds.1      object
Y/A        object
TD.1       object
Tgt        object
Rec        object
Yds.2      object
Y/R        object
TD.2       object
Fmb        object
FL         object
TD.3       object
2PM        object
2PP        object
FantPt     object
PPR        object
DKPt       object
FDPt       object
VBD        object
PosRank    object
OvRank     object
dtype: object

In [3]:
#clean NaN
for x,y in data_dict.items():
    data_dict[x] = data_dict[x].drop(data_dict[x][data_dict[x].Age == 'Age'].index)
    data_dict[x] = data_dict[x].drop(['DKPt','FDPt','VBD'],axis=1)
    data_dict[x] = data_dict[x].dropna(subset = ['FantPos'])
    data_dict[x] = data_dict[x].fillna(0)
    print(data_dict[x].shape)

(536, 30)
(550, 30)
(558, 30)
(578, 30)
(596, 30)

In [4]:
data_dict['2018'].isna().sum()

Rk         0
Player     0
Tm         0
FantPos    0
Age        0
G          0
GS         0
Cmp        0
Att        0
Yds        0
TD         0
Int        0
Att.1      0
Yds.1      0
Y/A        0
TD.1       0
Tgt        0
Rec        0
Yds.2      0
Y/R        0
TD.2       0
Fmb        0
FL         0
TD.3       0
2PM        0
2PP        0
FantPt     0
PPR        0
PosRank    0
OvRank     0
dtype: int64

In [5]:
#rename columns
for x,y in data_dict.items():
    data_dict[x].rename(columns = {'Att':'PsAtt','Att.1':'RsAtt','Yds':'PsYds','Yds.1':'RsYds','Yds.2':'RcYds','TD':'PsTD','TD.1':'RsTD','TD.2':'RcTD','TD.3':'TotTD'},inplace=True)
    print(data_dict[x].columns)

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'PsAtt',
       'PsYds', 'PsTD', 'Int', 'RsAtt', 'RsYds', 'Y/A', 'RsTD', 'Tgt', 'Rec',
       'RcYds', 'Y/R', 'RcTD', 'Fmb', 'FL', 'TotTD', '2PM', '2PP', 'FantPt',
       'PPR', 'PosRank', 'OvRank'],
      dtype='object')
Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'PsAtt',
       'PsYds', 'PsTD', 'Int', 'RsAtt', 'RsYds', 'Y/A', 'RsTD', 'Tgt', 'Rec',
       'RcYds', 'Y/R', 'RcTD', 'Fmb', 'FL', 'TotTD', '2PM', '2PP', 'FantPt',
       'PPR', 'PosRank', 'OvRank'],
      dtype='object')
Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'PsAtt',
       'PsYds', 'PsTD', 'Int', 'RsAtt', 'RsYds', 'Y/A', 'RsTD', 'Tgt', 'Rec',
       'RcYds', 'Y/R', 'RcTD', 'Fmb', 'FL', 'TotTD', '2PM', '2PP', 'FantPt',
       'PPR', 'PosRank', 'OvRank'],
      dtype='object')
Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'PsAtt',
       'PsYds', 'PsTD', 'Int', 'RsAtt', 'RsYds', 'Y/A', 'RsTD', 'Tgt', 'Rec',
       'RcYds', 'Y/R', 'RcTD', 'Fmb', 'FL', 'TotTD', '2PM', '2PP', 'FantPt',
       'PPR', 'PosRank', 'OvRank'],
      dtype='object')
Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'PsAtt',
       'PsYds', 'PsTD', 'Int', 'RsAtt', 'RsYds', 'Y/A', 'RsTD', 'Tgt', 'Rec',
       'RcYds', 'Y/R', 'RcTD', 'Fmb', 'FL', 'TotTD', '2PM', '2PP', 'FantPt',
       'PPR', 'PosRank', 'OvRank'],
      dtype='object')

In [6]:
#clean player name
for x,y in data_dict.items():
    data_dict[x]['Player'] = data_dict[x]['Player'].str.replace(r'\W','')

data_dict['2021'].head(100)

C:\Users\13135\AppData\Local\Temp\ipykernel_44276\3504529014.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data_dict[x]['Player'] = data_dict[x]['Player'].str.replace(r'\W','')

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,PsAtt,PsYds,...,RcTD,Fmb,FL,TotTD,2PM,2PP,FantPt,PPR,PosRank,OvRank
0,1,JonathanTaylor,IND,RB,22,17,17,0,0,0,...,2,4,2,20,0,0,333,373.1,1,1
1,2,CooperKupp,LAR,WR,28,17,17,0,1,0,...,16,0,0,16,1,0,295,439.5,1,2
2,3,DeeboSamuel,SFO,WR,25,16,15,1,2,24,...,6,4,2,14,0,0,262,339.0,2,3
3,4,JoshAllen,BUF,QB,25,17,17,409,646,4407,...,0,8,3,6,2,1,403,402.6,1,4
4,5,AustinEkeler,LAC,RB,26,16,16,0,0,0,...,8,4,3,20,2,0,274,343.8,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,98,DarrellHenderson,LAR,RB,24,12,10,0,0,0,...,3,0,0,8,0,0,134,163.4,26,0
101,99,JustinFields,CHI,QB,22,12,10,159,270,1870,...,0,12,5,2,0,0,127,126.8,31,0
102,100,MylesGaskin,MIA,RB,24,17,10,0,0,0,...,4,2,1,7,0,0,125,173.6,28,0
103,101,SonyMichel,LAR,RB,26,17,7,0,0,0,...,1,1,1,5,0,0,125,146.3,27,0
104,102,TonyPollard,DAL,RB,24,15,0,0,0,0,...,0,2,0,3,0,0,124,162.6,29,0

In [7]:
data_dict['2017'].columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'PsAtt',
       'PsYds', 'PsTD', 'Int', 'RsAtt', 'RsYds', 'Y/A', 'RsTD', 'Tgt', 'Rec',
       'RcYds', 'Y/R', 'RcTD', 'Fmb', 'FL', 'TotTD', '2PM', '2PP', 'FantPt',
       'PPR', 'PosRank', 'OvRank'],
      dtype='object')

In [22]:
for i in data_dict: 
   data_dict[i].to_csv(str(i)+'.csv',index=False)

In [23]:
pd.read_csv('2017.csv')

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,PsAtt,PsYds,...,RcTD,Fmb,FL,TotTD,2PM,2PP,FantPt,PPR,PosRank,OvRank
0,1,ToddGurley,LAR,RB,23,15,15,0,0,0,...,6,5,2,19,0,0,319,383.3,1,1
1,2,LeVeonBell,PIT,RB,25,15,15,0,0,0,...,2,3,2,11,0,0,257,341.6,2,2
2,3,KareemHunt,KAN,RB,22,16,16,0,0,0,...,3,1,1,11,0,0,242,295.2,3,3
3,4,AlvinKamara,NOR,RB,22,16,3,0,0,0,...,5,1,1,14,1,0,239,320.4,4,4
4,5,MelvinGordon,LAC,RB,24,16,16,0,0,0,...,4,1,0,12,0,0,230,288.1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,594,JohnRoss,CIN,WR,22,3,1,0,0,0,...,0,1,1,0,0,0,-1,-0.8,227,0
532,595,JakeRudock,DET,QB,24,3,0,3,5,24,...,0,0,0,0,0,0,-1,-1.0,72,0
533,596,TylerBray,KAN,QB,26,1,0,0,1,0,...,0,1,1,0,0,0,-2,-2.0,74,0
534,597,TeddyBridgewater,MIN,QB,25,1,0,0,2,0,...,0,0,0,0,0,0,-2,-2.3,75,0
535,598,DevanteMays,GNB,RB,23,8,0,0,0,0,...,0,2,1,0,0,0,-2,1.1,165,0