In [1]:
import pandas as pd

In [5]:
#scrape data
str = "https://www.pro-football-reference.com/years/{}/fantasy.htm"
years = [2017,2018,2019,2020,2021]

for year in years:
    url = str.format(year)
    print(url)

_url = "https://www.pro-football-reference.com/years/2021/fantasy.htm"

https://www.pro-football-reference.com/years/2017/fantasy.htm
https://www.pro-football-reference.com/years/2018/fantasy.htm
https://www.pro-football-reference.com/years/2019/fantasy.htm
https://www.pro-football-reference.com/years/2020/fantasy.htm
https://www.pro-football-reference.com/years/2021/fantasy.htm

In [41]:
data = pd.read_html(_url, header = 1)
df = data[0]
df.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Jonathan Taylor*+,IND,RB,22,17,17,0,0,0,...,20,NaN,NaN,333,373.1,381.1,353.1,187,1,1
1,2,Cooper Kupp*+,LAR,WR,28,17,17,0,1,0,...,16,1,NaN,295,439.5,442.5,367.0,173,1,2
2,3,Deebo Samuel*+,SFO,WR,25,16,15,1,2,24,...,14,NaN,NaN,262,339.0,347.0,300.5,140,2,3
3,4,Josh Allen,BUF,QB,25,17,17,409,646,4407,...,6,2,1,403,402.6,426.6,417.6,134,1,4
4,5,Austin Ekeler,LAC,RB,26,16,16,0,0,0,...,20,2,NaN,274,343.8,352.8,308.8,128,2,5

In [42]:
df.shape

(692, 33)

In [39]:
df = df.drop(df[df.Age == 'Age'].index)
df.shape

(670, 33)